/*colors:

black #111
green #4CAF50
gray #f2f2f2
gray #ccc
white #FFFFFF
pink #F3D3BD
green #48E5C2;
#3F3F3F
sea green #C4D6B0


*/

body {
  font-family: "Helvetica", sans-serif;
}

body {
  background-color: #FFFFFF;

}

h1 {
  background-color: #191970;
  text-align: center;
  padding: 1em;

}

h1 {
  color: #C4D6B0;
}
/* inline display of navigaion buttons*/
#toolbar {
  background-color: #191970;
  overflow: hidden;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #191970;
}
li {
  display: inline;
  margin-right: 6px;
  float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}
 a:active {
    background-color: #4CAF50;
}

h2 {
  color: #800080;
  }
/*Home page banner color with picture*/
#elements {
  border-width: 2px;
  border-top: color: #191970;
  border-style: solid;
  text-align: left;
  margin: 10px auto 10px auto;
  width: 450px;
  padding: 30px;
}

footer {
    background-color: #E6E6FA;
    padding: 3%;
    font-size: 60%;
    text-align: center;
    }

/* Style inputs with type="text", select elements and textareas */

/* Style the submit button with a specific background color etc */


/* Add a background color and some padding around the form */
.container {
    border-radius: 7px;
    background-color: #f2f2f2;
    padding: 16px;
}
